

<header class="header">
  <div class="menu container">
      <a href="#" class="logo">MOVIETFLIX</a>
      <input type="checkbox" name="" id="menu" />
      <label for="menu">
          <img src="../assets/img/menu.png" alt="menu" class="menu-icono">
      </label>
      <nav class="navbar">
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Películas</a></li>
              <li><a href="..src/app/contactos/contactos.component.html">Contacto</a></li>
          </ul>
      </nav>
      <a href="#" class="btn-1">Login</a>
  </div>

  <div class="header-content container">

      <div class="header-1">
          <img src="../assets/img/venom.png" alt="venom">
          <a href="#" class="btn-2">Ver ahora</a>
      </div>
      <div class="header-2">
          <h1>Las mejores <br> Películas</h1>
          <img src="../assets/img/play.png" alt="play">
      </div>
  </div>

</header>


<!------------------------ INICIO div MOVIES CONTAINER  ---------------------->
<div class="movies container">

  <h2>Películas más vistas</h2>
  <hr>

  <div class="box-container-1">

      <div class="box-1">

          <div class="content">
              <a href="view.html"><img src="../assets/img/1.jpg" alt=""></a>
              <h3>LA LISTA DE SCHINDLER</h3>
              <p> Genero: Bélico/Wéstern<br>Duración: 195 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
              <a href="view2.html"><img src="../assets/img/2.jpg" alt=""></a>
              <h3>El Pianista</h3>
              <p> Genero: Bélico/Documental<br>Duración: 148 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
             <a href="view3.html"><img src="../assets/img/3.jpg" alt=""></a> 
              <h3>Fast & Furious X</h3>
              <p> Genero: Acción/Crimen<br>Duración: 141 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
              <a href="view4.html"><img src="assets/img/12.JPG" alt=""></a>
              <h3>SHREK 3</h3>
              <p> Genero: Infantil/Comedia<br>Duración: 92 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
              <img src="../assets/img/5.jpg" alt="">
              <h3>El Gato con Botas: El último deseo</h3>
              <p> Genero:  Infantil/Aventura<br>Duración: 100 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
              <img src="../assets/img/6.jpg" alt="">
              <h3>Joker</h3>
              <p> Genero: Suspenso/Crimen<br>Duración: 121 min.</p>
          </div>
      </div>

      <div class="box-1">

          <div class="content">
              <img src="../assets/img/12.JPG" alt="">
              <h3>WALL·E: Batallón de limpieza</h3>
              <p> Genero: Infantil/Ciencia ficción<br>Duración: 98 min.</p>
          </div>
      </div>

      <div class="box-8">

          <div class="content">
              <img src="../assets/img/8.jpg" alt="">
              <h3>Siempre a tu lado</h3>
              <p> Genero: Drama/Drama<br>Duración: 93 min.</p>
          </div>
      </div>

  </div>

  <div class="load-more" id="load-more-1">Cargar más</div>


</div>
<!--------------------------  FIN div MOVIES CONTAINER  ------------------------->



<!------------------------ INICIO PELICULAS RECOMENDADAS ---------------------->
<div class="movies container">

  <h2>Películas RECOMENDADAS</h2>
  <hr>

  <div class="box-container-2">

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/9.jpg" alt="">
              <h3>Spider-Man: sin camino a casa</h3>
              <p> Genero: Acción/Fantasía<br>Duración: 148 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/10.jpg" alt="">
              <h3>Mi primer amor</h3>
              <p> Genero: Comedia/Romance<br>Duración: 86 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/11.JPG" alt="">
              <h3>Caracortada</h3>
              <p> Genero: Crimen/Suspenso<br>Duración: 163 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/4.jpg" alt="">
              <h3>Amigos intocables</h3>
              <p> Genero:  Comedia/Drama<br>Duración: 109 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/13.jpg" alt="">
              <h3>Tierra de osos</h3>
              <p> Genero: Infantil/Musical<br>Duración: 85 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/14.jpg" alt="">
              <h3>Project Almanac</h3>
              <p> Genero: Ciencia ficción/Suspenso <br>Duración: 106 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/15.jpEg" alt="">
              <h3>El club de la pelea</h3>
              <p> Genero: Suspenso/Acción<br>Duración: 139 min.</p>
          </div>
      </div>

      <div class="box-2">

          <div class="content">
              <img src="../assets/img/16.jpeg" alt="">
              <h3>Transformers</h3>
              <p> Genero: Acción/Ciencia ficción<br>Duración: 144 min.</p>
          </div>
      </div>

      <div class="load-more" id="load-more-2">Cargar más</div>

</div>
<!--------------------------  FIN PELICULAS ACCION  ------------------------->


<!------------------------ INICIO PELICULAS ESTRENO ---------------------->
<div class="movies container">

  <h2>Películas de Estreno</h2>
  <hr>

  <div class="box-container-3">

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/17.jpeg" alt="">
              <h3>El perfecto asesino</h3>
              <p> Genero:  Acción/Crimen <br>Duración: 90 min.</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/18.jpeg" alt="">
              <h3>El padrino</h3>
              <p> Genero: Crimen/Crimen<br>Duración: 175 min.</p>
          </div>
      </div>

      <div class="box-233">

          <div class="content">
              <img src="../assets/img/19.jpg" alt="">
              <h3>Dos policías rebeldes</h3>
              <p> Genero: Acción/Comedia<br>Duración: 124 min.</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/20.jpg" alt="">
              <h3>Operación final
              </h3>
              <p> Genero: Suspenso/Suspenso<br>Duración: 122 min.</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/21.jpeg" alt="">
              <h3>Película HD</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/22.jpg" alt="">
              <h3>Indiana Jones y los cazadores del arca perdida</h3>
              <p> Genero: Aventura/Acción<br>Duración: 115 min.</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/23.jpg" alt="">
              <h3>X-Men 3: La batalla final</h3>
              <p> Genero: Acción/Ciencia ficción <br>Duración: 105 min.</p>
          </div>
      </div>

      <div class="box-3">

          <div class="content">
              <img src="../assets/img/24.jpeg" alt="">
              <h3>Aliados</h3>
              <p> Genero: Bélico/Romance<br>Duración: 124 min.</p>
          </div>
      </div>

      <div class="load-more" id="load-more-3">Cargar más</div>

</div>
<!--------------------------  FIN PELICULAS ESTRENO  ------------------------->


<!------------------------ INICIO FOOTER ---------------------->
<footer class="footer container">

  <h3>MOVIETFLIX</h3>

  <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Películas</a></li>
      <li><a href="#">Contacto</a></li>
  </ul>

</footer>
<!------------------------ INICIO FOOTER ---------------------->

<script src="js/script.js"></script>

