<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../contactos/contactos.component.css">
</head>
<body>

<div class="contact-section">
    <h2>Contacto</h2>
    <div class="form-container">
        <div class="contact-form">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Asunto</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Enviar</button>
            </form>
        </div>
        <div class="contact-info">
            <h3>Información de Contacto</h3>
            <p><strong>Dirección: </strong>Avenida (Street #32 No. 17 – 30), Bogotá</p>
            <p><strong>Teléfono: </strong>(601) 3380666</p>
            <p><strong>Correo Electrónico: </strong>notificacionesjudicialesucompensar.edu.co</p>
        </div>
    </div>
</div>

</body>
</html>
